:host {
  header {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
    @media only screen and (max-width: 600px) {
      max-width: 85%;
    }
    span {
      height: fit-content;
      margin: auto auto auto 0;
    }
    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--color-text-light);
      margin-right: 24px;
      flex-grow: 1;
      color: var(--color-text-light);
    }
    button {
      background-color: var(--color-sky);
      border: none;
      padding: 12px;
      border-radius: 12px;
      margin-left: auto;
      color: var(--color-steel);
      cursor: pointer;
      font-size: 16px;
      border: 2px solid transparent;
      &:active {
        border: 2px solid var(--color-steel);
        background-color: var(--color-fog);
      }
      &:hover {
        background-color: var(--color-fog);
      }
      &:disabled {
        background-color: #d3d3d3;
        cursor: not-allowed;
      }
    }
    .sorting-information {
      display: flex;
      flex-direction: row;
    }
    .users-filter {
      display: flex;
      flex-direction: row;
    }
    app-paginator {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .loading-spinner {
    flex-direction: column;
    display: flex;
    align-items: center;
    img {
      max-height: 80px;
      width: fit-content;
    }
  }
}
