:host {
  header {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sorting-information {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 12px;
    span {
      height: fit-content;
      margin: auto auto auto 0;
    }
    button {
      background-color: var(--color-sky);
      border: none;
      padding: 12px;
      border-radius: 12px;
      color: var(--color-steel);
      cursor: pointer;
      font-size: 16px;
      border: 2px solid transparent;
      &:active {
        border: 2px solid var(--color-steel);
        background-color: var(--color-fog);
      }
      &:hover {
        background-color: var(--color-fog);
      }
    }
  }
  .loading-spinner {
    flex-direction: column;
    display: flex;
    align-items: center;
    img {
      max-height: 80px;
      width: fit-content;
    }
  }
}
