@import "ease/ease-import.scss";

:host {
  .user-item {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 12px;
    color: $color-night;
    .user-summary {
      display: flex;
      width: 100%;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
      .user-item__image {
        border-radius: 20%;
        height: 40px;
        width: 40px;
        @media only screen and (max-width: 600px) {
          align-self: center;
          height: 60px;
          width: 60px;
        }
      }

      .user-item__name,
      .user-item__email,
      .user-item__phone {
        margin: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
      }

      .user-item__name {
        flex: 1;
        min-width: 100px;
      }

      .user-item__email {
        width: 220px;
      }

      .user-item__phone {
        width: 110px;
      }

      .user-item__nat {
        margin-left: 12px;
        text-align: right;
        width: 80px;
        @media only screen and (max-width: 600px) {
          text-align: left;
        }
      }
    }
    .user-details {
      max-height: 0;
      width: 100%;
      overflow: hidden;
      transition:
        max-height 0.5s ease-out,
        opacity 0.5s ease-out;
      opacity: 0;
      flex-direction: row;
      display: flex;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
      &.show {
        padding: $spacing-m;
        max-height: 100px;
        opacity: 1;
        transition:
          max-height 0.5s ease-in,
          opacity 0.5s ease-in;
      }
      &__line {
        display: flex;
        flex-direction: row;
        gap: $spacing-xs;
      }
      &__hint {
        font-size: $font-size-tiny;
        line-height: $line-height-tiny;
        color: $gray-light-400;
        display: flex;
        flex-direction: row;
        margin: auto 0;
        &::after {
          content: ":";
        }
      }
      &__address {
        width: 50%;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
      &__dob {
        width: fit-content;
        margin-left: auto;
        @media only screen and (max-width: 600px) {
          margin-left: 0;
          padding-top: $spacing-l;
        }
      }
      &__street,
      &__state {
        margin-right: $spacing-l;

        @media only screen and (max-width: 600px) {
          margin-right: auto;
        }
      }
      &__zipcode {
        margin-right: auto;
        @media only screen and (max-width: 600px) {
          margin-right: 0;
        }
      }
    }
  }
}
