@if (users().length) {
  <div class="user-list-container">
    <h2 class="user-list-title">{{ title() }}</h2>
    <article class="user-list">
      <div class="user-list__header">
        <span class="user-list__header-name">Name</span>
        <span class="user-list__header-email">Email</span>
        <span class="user-list__header-phone">Phone</span>
        <span class="user-list__header-nat">Nationality</span>
      </div>
      <cdk-virtual-scroll-viewport
        itemSize="50"
        class="user-list__viewport"
        [style.height.px]="viewportHeight"
        #scrollViewport
      >
        <div
          class="user-list__viewport-wrapper"
          *cdkVirtualFor="let user of users()"
        >
          <app-user-item [user]="user" />
        </div>
      </cdk-virtual-scroll-viewport>
    </article>
  </div>
} @else {
  <article class="user-list">
    <p>Loading…</p>
  </article>
}
