@import "ease/ease-import.scss";

:host {
  .user-list-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: $spacing-m;

    @media only screen and (max-width: 600px) {
      max-width: 85%;
    }
    .user-list-title {
      padding: $spacing-m;
    }
    .user-list__header {
      @media only screen and (max-width: 600px) {
        display: none;
      }
      padding: $spacing-m;
      display: flex;
      gap: $spacing-xxl;
      &-name {
        min-width: 100px;
        margin-left: $spacing-xxxxl;
        padding-left: $spacing-m;
        margin-right: auto;
      }
      &-email {
        width: 220px;
      }
      &-phone {
        width: 110px;
      }
      &-nat {
        width: 80px;
      }
    }
    .user-list {
      background-color: $color-white;
      border-radius: 18px;
      border: 6px solid $color-sky;
      padding: 12px;
      .user-list__viewport-wrapper {
        border-bottom: 1px solid $color-fog;
        &:last-of-type {
          border-bottom: none;
        }
      }
      .user-list__viewport {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari and Opera */
        }
      }
    }
  }
}
